

/* Ensures padding and border are included in the default box size */
/* Default is box-sizing: content-box */
* {box-sizing: border-box;
} 

/* Sets a default font size as well as creating a MaxMe
inpired background-colour */
body {
  background-color: #FCF9F2;
  font-size: 100%;
}

/* Makes all visible buttons have the same back-ground colour */
.question,.option,.hint,.feedback,.transition {
  background-color: white;
}

/* */
.question {
  width: 70%;
  /* height:20%;*/
  margin: 0.4em auto; /*VerticallyHorizontally centres the text*/ 
  border-radius: 0.4em; /* How rounded the corners of the block are.*/
  background-color: #F24A0D;
  box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.2); /* Creates a shadow around the box*/
  padding: 1rem;
  font-size: 1.1em;
  color: white;
}

#options {
  display: flex; /* What does this do??*/
  flex-direction: column; /* What does this do??*/
  align-items: center; /* What does this do??*/
}


.option {
  font-size: 1.1em;
  text-align: left; 
  margin: 0.4em auto; /* What does this do??*/
  border-radius: 0.4em; 
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  border: none; /* What does this do??*/
  align-items: center;
  width:70%;
  height: 10vh; /* This might be a concern on phones*/
}



.settings-container {
  display: flex; /* What does this do??*/

}

.settings-container button {
  flex: 1; /* What does this do??*/
  cursor:pointer;
  width:25%;
  border: black;
  margin: 1em 1em;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.hint {
  visibility:hidden;
}

.feedback {
  visibility: hidden;
  width:90%;
  margin: 1em auto;

}